
#mapid {
  height: 560px;
  width: 64%;
  display: inline-block;
}

#panelleft {
    width: 16%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

#panelright {
  width: 16%;
  float: right;
}

#controls {
	position: absolute;
	top: 110px;
	left: 50px;
	width: 250px;
}

.leaflet-control {
    float: none;
    display: inline-block;
}

#mapinfo {
	height: 3800px;
	position: absolute;
	top: 660px;
	left: 20px;
	margin: 0 300px 0 300px;
}

.sub {
	font-size: 1em;
	padding-left:50px;
}

.images {
	padding-left:400px;
}

h1 {
	text-align: center;
  font-family: 'Alegreya', serif;
  font-size: 40px;
}

h2 {
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  line-height: 23px;
  letter-spacing: 1.5px;
}

p {
	font-size: 1em;
	text-indent:50px;
  	font-family: 'Roboto', sans-serif;
  	line-height: 23px;
}

h3 {
  font-size: 1.25em;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  line-height: 23px;
  letter-spacing: 1px;
}

h4 {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  line-height: 16px;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  letter-spacing: 1px;
  line-height: 16px;
}

h6 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  font-style: normal;
}
